<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container-md">

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">List</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
                        <li class="breadcrumb-item active">user-list</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            DataTable Example
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple" >
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>LastLogin</th>
                                    <th>Age</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="mvo:${userList}">
                                    <td>[[${mvo.nickName }]]</td>
                                    <td>[[${mvo.email }]]</td>
                                    <td>[[${mvo.lastLogin }]]</td>
                                    <td>22</td>
                                    <td>
                                        <th:block th:each="authList: ${mvo.authList}">
                                        [[${authList.role }]]
                                        </th:block>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script th:src="@{dist/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{/distjs/scripts.js}"></script>
    <script th:src="@{/dist/js/simple-datatables.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{/dist/js/datatables-simple-demo.js}"></script>
