<!DOCTYPE html>
<html lang="en"
      xmlns:th ="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container mt-5">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->

                <div class="card mb-4" th:each="board : ${boardList}">
                    <div class="card-header d-flex ">
                        <h2 class="card-title me-auto p-2">[[${board.title}]]</h2>
                        <div class="small text-muted p-2">[[${board.writer}]]</div>
                        <div class="small text-muted p-2">[[${#strings.substring(board.regDate,0,10)}]]</div>
                    </div>
                    <img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." />
                    <div class="card-body">
                        <p class="card-text">[[${board.content}]]</p>
                        <a class="btn btn-primary" th:href="@{/board/detail(bno=${board.bno})}">Read more →</a>
                    </div>
                </div>

                <!-- Pagination -->
                <nav aria-label="Pagination">
                    <hr class="my-0" />
                    <ul class="pagination justify-content-center my-4">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                        <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                    </ul>
                </nav>
            </div>
            <!-- right Side widgets-->
            <div class="col-lg-2">
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">카테고리</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">Web Design</a></li>
                                    <li><a href="#!">HTML</a></li>
                                    <li><a href="#!">Freebies</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">JavaScript</a></li>
                                    <li><a href="#!">CSS</a></li>
                                    <li><a href="#!">Tutorials</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">최근 게시물</div>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mx-3 mb-0">
                                <li><a href="#!">Linux</a></li>
                                <li><a href="#!">Vim</a></li>
                                <li><a href="#!">Fedora</a></li>
                                <li><a href="#!">...</a></li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
